<div class="table-container">
    <input type="text" #name (input)="search(name.value)" placeholder="Search By Name">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Specialization</th>
               
            </tr>
        </thead>
        <tbody class="table-striped">
            <tr *ngFor="let doctor of doctors; let i=index">
                <td>{{i+1}}</td>
                <td>{{doctor.name}}</td>
                <td>{{doctor.age}}</td>
                <td>{{doctor.gender}}</td>
                <td>{{doctor.specialist}}</td>
               
            </tr>
        </tbody>
    </table>
</div>